<div class="task-section">
  <h2 class="heading">All Tasks</h2>

  <div class="add-task-section">
    <input type="text" placeholder="New Task" [(ngModel)]="editTask.title" class="new-task-input" (keydown.enter)="addTask()" />
    <select [(ngModel)]="editTask.categoryId" class="task-category-select">
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks" class="task-item">
      <input type="checkbox" [(ngModel)]="task.completed" />
      <span [ngClass]="{ 'completed': task.completed }">{{ task.title }}</span>
      <span class="task-tag">{{ task.categoryname }}</span>
      <div class="button-group">
      <button class="edit-btn" >Edit</button>
      <button class="delete-btn">Delete</button>
      </div>
    </li>
  </ul>
</div>
