<div id="background_image">
  <div class="signup_container">

    <div class="signup_box">
   
      <div class="create_account_text">
        Create account
      </div>
      <form [formGroup]="formGroup" class="signup_form" >
        <div class="textfield">
          <label class="inputlabel" for="name">Username</label>
          <input class="inputfield" formControlName="name" type="text">
        </div>
        <div class="textfield">
          <label class="inputlabel" for="password">Password</label>
          <input class="inputfield" formControlName="password" type="password">
        </div>
     
       <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      </form>
    
      <button class="create_button" (click)="createaccount()">
        Create Account
      </button>
      <div class="base_text">
        Already have an account?  <a  class="login_text"href="/login">Sign In</a>
      </div>
    </div>
  </div>