<div class="sidebar">
    <ul>
      <li *ngFor="let category of categories" (click)="selectCategory(category)">
        <a href="#">{{ category.name }}</a>
      </li>
      <li *ngIf="!isAddingCategory" (click)="showNewCategoryInput()" class="add-category" >
       + New Category
      </li>


      
      <li *ngIf="isAddingCategory" >
        <input   class="newcategory-input"
        auto-Focus
        [(ngModel)]="newCategoryName"
        (keydown.enter)="addCategory()"
        (blur)="cancelNewCategory()"
        placeholder="New category name"
        autofocus
      />
      </li>
    </ul>
</div>
  