  
<div class="home-component">

    <div class="text-content">
      <h1>Minimalist To-Do App for Simple and Cool Task Management</h1>
      <p>Streamline your tasks with ease. Effortlessly manage your personal to-do list using our simple, intuitive design.</p>
      <div class="buttons">
        <a href="/signup" class="try-for-free">Try for Free</a>
        <a href="/login" class="login">Login</a>

    </div>
  </div>

    <div class="app-image">
      <img src="assets/images/appscreenshot.png" alt="To-Do WebApp Screenshot">
    </div>
  


</div>



  