

/*layout*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; 
}


.home-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 90px;
    text-align: center;
}

.text-content {
    max-width: 600px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.app-image img {
    max-width: 700px;
    height: auto;
}

@media (max-width: 768px) {

    .home-component {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .home-component h1 {
        font-size: 36px;
    }

    .home-component p {
        font-size: 18px;
    }

    .buttons {
        flex-direction: row;
        gap: 15px;
    }

    .app-image img {
        max-width: 100%;
        height: auto;
    }
}




/*appearances*/


.home-component{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #ffddd2, #bde0fe);
    color: #333;
}


.home-component h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.home-component p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #4d4d4d;
}


.login ,.try-for-free {
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.try-for-free {
    background-color: #ffb5a7; 
    color: white;
}

.try-for-free:hover {
    background-color: #ff8c94; 
}

.login {
    background-color: transparent;
    color: #6a75ca;
    border: 2px solid #6a75ca;
    padding: 12px 24px;
}

.login:hover {
    background-color: #6a75ca;
    color: white;
}

.app-image img {
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}





