<div id="background_image">
  <div class="signup_container">
    
    <div class="signup_box">
      <div class="toplogo">
        <img src="/assets/images/Logo2.png" alt="Logo" class="logo">
        </div>
    <div class="create_account_text">
      Create account
    </div>
    <form class="signup_form">
      <div class="textfield">
        <label class="inputlabel"  for="name">Email</label>
        <input class="inputfield" id="email" type="text">
      </div>
      <div class="textfield">
        <label class="inputlabel" for="password">Password</label>
        <input class="inputfield" id="password" type="password">
      </div>
    </form>
    <button class="create_button">
      Create Account 
    </button>
    <div>
      Already have an account login
    </div>
    </div>
  </div>